@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  word-break: break-word;
}

#title {
  ::selection {
    color : white;
    background: rgb(79 70 229);
  }
}
